img{
    float: left; 
    height: 300px;
    width: 300px;

}

h1{
    border-bottom-style: inset;
    text-align: center;
}

/* telas menores */

@media (max-width: 600px) {
    img {
        width: 100%;
        height: auto;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn-calc,
        .btn-reset {
            width: 300px;
            margin: 5px 0;
        }
    }
}